.nlsn-marimimekko-g {
font: 15px sans-serif;
}

rect {
stroke: #000;
}

.nlsn-marimimekko-header{
    font: 25px sans-serif
}

svg {
shape-rendering: crispEdges;
}

.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}